body {
  background-color: black;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(45deg);
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
}

.front {
  background-color: blue;
  transform: translateZ(100px);
}

.back {
  background-color: blue;
  transform: rotateY(180deg) translateZ(100px);
}

.top {
  background-color: blue;
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  background-color: blue;
  transform: rotateX(-90deg) translateZ(100px);
}

.left {
  background-color: blue;
  transform: rotateY(-90deg) translateZ(100px);
}

.right {
  background-color: blue;
  transform: rotateY(90deg) translateZ(100px);
}

.cube:hover div {
  background-color: green;
}
